/* Inserta tu código aqui */

nav ul{
	list-style-type:none;
	padding-top:34px;
	padding-left: 20px;
	margin:0 45px 0 0;
	float:right;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	white-space:nowrap;
}
nav li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
nav li:hover {
background:#F5B915;
}
nav a{
	text-decoration:none;
	padding:10px 15px;
	color:black;
    text-shadow: 2px 2px 4px #000;
}
nav a:hover {
	color:black;
}
.li-list{
	margin-left: 10px;
}